@font-face {
  font-family: "Comic Neue";
  src: url("../public/fonts/ComicNeue/ComicNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Futura PT;
  src: url("../public/fonts/Futura\ PT/FuturaPTMedium.otf") ;
}
@font-face {
  font-family: Lobster;
  src: url("../public/fonts/Lobster/Lobster-Regular.ttf") ;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

.main,
.main input {
  font-size: 15px;
  line-height: 24px;
  font-family: "Montserrat";
}
.main input:focus, .main select:focus {
  outline-color:rgb(49, 118, 202);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
  font-family: Lobster
  /* font-family: "Comic Sans MS"; */
}
.main form {
  display: flex;
  flex-direction: column;
  width: 370px;
}
.main [type="button"], .main [type="create"] {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 23px;
  outline: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  width:32.5%;
  margin-top:5px;
  padding-top:.2rem;
  padding-bottom:.2rem;
  background-color: #ef97bc;
}
.main [type="button"]:hover {
  background-color: lightskyblue;
 }
.main .paragraphs {
  display: flex;
  justify-content: space-between;
}
.main .active {
  background-color:lightskyblue;
}
.main .clicked {
  background-color:lightskyblue;
}

.main ::placeholder {
  color: #a08e8e;
  opacity: 1;
  font-size:14px;
}

.main .result {
  font-weight: bold;
  width: 500px;
  margin-top:3rem;
}

.main .summaryTitle {
  font-size:20px;
  font-weight: bold;
  padding-top:35px;
  width: 50%;
  text-align:center;
}
.main .summaryBody {
  font-size:16px;
  font-weight: bold;
  padding-top:5px;
}

.main input[type="text"],
.main input[type="number"],
.main select {
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-top: 4px;
}
.main select {
  font-size: 14px;
}


.main .load {
  margin-top:20px;
}

.main [type="create"] {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 23px;
  outline: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  width:100%;
  margin-top:25px;
  padding-top:.8rem;
  padding-bottom:.8rem;
  background-color: #ef97bc;
}
.main [type="create"]:hover {
  background-color: lightskyblue;
}

.main [type="create"].loadingButton {
  background-color: lightskyblue
}
.main footer {
  margin-top:5rem;
  text-align: center;
}
.main .load {
  border: 24px solid #f3f3f3;
  border-radius: 50%;
  border-top: 24px solid lightskyblue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  text-align: center;
  margin-left:50px;
}
.main loading {
  font-family:Lobster;
  font-size:28px;
  margin-top:50px;
  padding-top: 50px;
}
.main .loading {
  margin-top: 20px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}