@font-face {
  font-family: "Comic Neue";
  src: url("../public/fonts/ComicNeue/ComicNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Futura PT;
  src: url("../public/fonts/Futura\ PT/FuturaPTMedium.otf") ;
}
@font-face {
  font-family: Lobster;
  src: url("../public/fonts/Lobster/Lobster-Regular.ttf") ;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif";
  src: url("../public/fonts/SourceSerif/SourceSerif4-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
.main,
.main input {
  font-size: 15px;
  line-height: 24px;
  font-family: "Montserrat";
  --color1:#ef97bc;
  --color2:lightskyblue;
}
.main input:focus, .main select:focus {
  outline-color:rgba(38, 92, 228, 0.663);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 20px;
  font-family: Lobster
}
.main form {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.main [type="button"] {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 23px;
  outline: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  width:32.5%;
  margin-top:5px;
  padding-top:.2rem;
  padding-bottom:.2rem;
  background-color: var(--color1);
}
.main [type="button"]:hover {
  background-color:var(--color2);
 }
.main .paragraphs {
  display: flex;
  justify-content: space-between;
}
.main .active {
  background-color:var(--color2);
}
.main .clicked {
  background-color:var(--color2);
}

.main ::placeholder {
  color: #a08e8e;
  opacity: 1;
  font-size:14px;
}

.main .result {
  width: 500px;
  white-space: pre-line;
}
@media only screen and (max-width: 600px) {
  .main .result {
    background-color: lightblue;
    width:100%;
  }
}
.main input[type="text"],
.main input[type="number"],
.main select {
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-top: 4px;
}
.main select {
  font-size: 14px;
}
.main [type="createStory"] {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 23px;
  outline: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  width:100%;
  margin-top:25px;
  padding-top:.8rem;
  padding-bottom:.8rem;
  background-color: var(--color1);
}
.main [type="createStory"]:hover {
  background-color: var(--color2);
}
.main .summaryTitle {
  font-size:26px;
  font-weight: bold;
  padding-top:3rem;
  width: 50%;
  text-align:center;
  font-family: 'Palatino';
}
.main .summaryBody {
  font-family: 'Garamond';
  font-size:18px;
  padding-top:5px;
}
.main .load { /* circle */
  border: 24px solid #f3f3f3;
  border-radius: 100%;
  border-top: 24px solid lightskyblue;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  text-align: center;
  margin-left:20px;
  margin-top:25px;
}
.main loading {
  font-family:Lobster;
  font-size:28px;
  padding-top: 40px;
}
.main .loading {
  display:flex;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main footer {
  margin-top:7rem;
  text-align: center;
  font-size:12px;
}